* text=auto

*.sln text eol=crlf

*.md text
*.json text
*.txt text
*.html text
*.elm text
*.cs text
*.ps1 text
.gitignore text
*.Dockerfile text
*.env text
*.yml text

*.ico binary
*.jpg binary
*.png binary
*.gif binary
*.pdf binary
*.zip binary
*.ttf binary
*.woff binary
*.woff2 binary
*.otf binary
